<h1>Routes</h1>

<table id="example" class="table table-bordered" style="width:100%">
  <thead style="background-color: #B9E1F1">
    <tr>
      <th>Tour agency</th>
      <th>Visitor</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Hotel</th>
      <th>Status</th>
      <th>Cost</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.tour_agency.title %></td>
        <td><%= route.visitor&.profile&.name %></td>
        <td><%= route.start_date %></td>
        <td><%= route.end_date %></td>
        <td><%= route.hotel.title %></td>
        <td><%= route.status %></td>
        <td><%= route.cost %></td>
        <td><%= route.places.map{|i| i&.organization&.title }%></td>
        <% if current_user.is_admin  %>
          <td><%= link_to 'Show', route %> <%= link_to 'Edit', edit_route_path(id: route.id) %> <%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-custom" %></td> 
        <% elsif route.tour_agency.user_id == current_user.id %>
          <% if route.status != "approved"%>
          <td><%= link_to 'Approve', approve_routes_path(id: route.id), method: :put %> <%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'Show', route, class: "btn-custom" %> </td>
          <% else %>
          <td><%= link_to 'Edit', edit_route_path(id: route.id) %> <%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'Show', route, class: "btn-custom" %> </td>
          <% end %>
        <% elsif route.visitor.id == current_user.id %>
          <td><%= link_to 'Edit', edit_route_path(id: route.id) %> <%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'Show', route, class: "btn-custom" %></td>
          <td></td>
        <% else %>
         <td><%= link_to 'Show', route, class: "btn-custom" %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.is_admin %>
<%= link_to 'Back', admin_view_url, method: :get, class: "btn-custom"%> <br />
<% else %>
<%= link_to 'Main page', main_url, method: :get, class: "btn-custom" %> <br />
<% end %>
