<h1>Organizations</h1>
<br>
<div class="row">

		<% @organizations.each do |organization| %>

			<div class="col-md-4">
      <a href="/organizations/<%= organization.id %>">
        <%= image_tag organization.images.first.variant(resize_to_limit: [300, 300]).processed, :style => "border-radius: 10px;" %>
			</a>
      <p><%= organization.title %><p>
      <p><%= organization.place.name %><p>
      <p><%= organization.type_of_services %><p>
      <% if current_user.is_admin %>
          <% if organization.status != "approved"%>
          <td><%= link_to 'Approve', approve_organizations_path(id: organization.id), method: :put %></td>
          <% else %>
          <td><%= link_to 'Edit', edit_organization_path(id: organization.id) %></td>
          <% end%>
          <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif organization.user_id == current_user.id%>
        <%= link_to 'Edit', edit_organization_path(id: organization.id) %></td>
        <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </div>	

		<% end %>
        
</center>
<br>
<%= link_to 'New Organization', new_organization_path %> </br>
<% if current_user.is_admin %>
<%= link_to 'Back', admin_view_url, method: :get %>
<% else %>
<%= link_to 'Back', main_url, method: :get %>
<% end %>

